.about {
	padding-top: 60px;

	&__container {
		@include screen-x(800px) {
			flex-direction: column-reverse;
		}
	}

	&__frame {
		position: relative;
		box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
		width: 330px;
		height: 330px;
		animation: oscillation infinite 3.1s ease-in-out;
		transform-origin: 280px 30px;
		@include screen-x(1100px) {
			width: 250px;
			height: 250px;
			transform-origin: 200px 30px;
		}
		@include screen-x(800px) {
			width: 200px;
			height: 200px;
			transform-origin: 100px 30px;
			margin-bottom: 40px;
		}
		.image {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			width: calc(100% - 30px);
			@include screen-x(800px) {
				width: calc(100% - 10px);
			}
		}
	}

	@keyframes oscillation {
		0% {
			transform: rotate(-10deg);
		}
		50% {
			transform: rotate(-15deg);
		}
		100% {
			transform: rotate(-10deg);
		}
	}

	&__content {
		flex: 1;
		@include screen-x(800px) {
			padding-left: 0;
		}
	}
}
