.circuit-details {
	padding-top: 96px;
	margin-bottom: 20px;

	&__main {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-auto-rows: auto;
		grid-gap: 20px;
		@include screen-x(900px) {
			grid-template-columns: repeat(1, 1fr);
		}
	}
}