.menu {
	display: none;
	position: fixed;
	top: 76px;
	right: 0;
	z-index: 12;
	height: calc(100vh - 76px);
	pointer-events: auto;

	@include screen-x(900px) {
		display: flex;
		justify-content: flex-end;
		opacity: 1;

		&--closed {
			pointer-events: none;
			opacity: 0;
		}
	}

	&__overlay {
		position: fixed;
		top: 76px;
		left: 0;
		z-index: 11;
		background: rgba(255, 255, 255, 0.7);
	}

	&__window {
		position: relative;
		right: 0;
		z-index: 12;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
		@include screen-x(800px) {
			width: 70%;
		}
		@include screen-x(600px) {
			width: 100%;
		}
	}

	&--closed {
		.menu__window {
			right: -100%;
		}
	}

	.app-links {
		padding-top: 20px;
		&__link {
			@include transition;
			color: rgb(100, 100, 100);
			font-size: 13pt;
			padding: 10px;
			border-radius: 5px;
			font-weight: bold;
			&:hover {
				color: black;
			}
		}
		&__item {
			padding: 20px;
			margin-left: 20px;
			@include screen-x(600px) {
				text-align: center;
			}
			&--active {
				.app-links__link {
					background: white;
					box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.6) inset;
				}
			}
		}	
	}

	&__separator {
		width: calc(100% - 40px);
		height: 1px;
		background: rgb(170, 170, 170);
		@include screen-y(450px) {
			display: none;
		}
	}

	&__about {
		color: rgb(100, 100, 100);
		@include screen-y(600px) {
			display: none;
		}
	}

	.social {
		display: flex;
		justify-content: center;
		align-items: center;
		@include screen-y(600px) {
			padding-top: 20px;
		}
		@include screen-y(450px) {
			display: none;
		}
		&__link {
			margin-left: 15px;
			margin-right: 15px;
			font-size: 2.5em;
			&:hover {
				color: black;
			}
		}
	}
}