.place-details {
	&__map {
		width: calc(100% - 46px);
		border: 3px rgb(100, 100, 100) solid;
		background: rgba(235, 235, 235);
		flex-grow: 1;
		@include screen-x(900px) {
			height: 280px;
			flex-grow: 0;
		}
	}

	.slide {
		width: calc(100% - 40px);
		@include screen-x(900px) {
			height: 350px;
		}
		@include screen-x(700px) {
			height: 300px;
		}
		@include screen-x(500px) {
			height: 260px;
		}
		@include screen-x(400px) {
			height: 220px;
		}
	}

	.slide > div,
	.react-slideshow-container,
	.react-slideshow-wrapper,
	.each-slide,
	.each-slide > div {
		width: 100%;
		height: 100%;
		background: rgba(235, 235, 235);
	}

	.title {
		@include screen-x(900px) {
			font-size: 1.6em;
		}
		@include screen-x(400px) {
			font-size: 1.3em;
		}
	}
}

.leaflet-default-icon-path {
    background-image: url(https://unpkg.com/leaflet@1.7.1/dist/images/marker-icon.png);
}

.leaflet-container {
    width: 100%;
    height: 100%;
    z-index: 1;
}

.leaflet-routing-alternatives-container {
	display: none;
}