.planning {
	&__separator {
		width: 5px;
		height: 40px;
		border-radius: 3px;
		@include screen-x(400px) {
			height: 30px;
		}
	}

	.marker {
		opacity: 0;
	}

	&__item {
		border: 2px white solid;
		&:hover {
			background: rgb(225, 225, 225);
			.marker {
				opacity: 1;
			}
		}
		&--active {
			border: 2px $color-theme solid;
			.marker {
				opacity: 1;
				background: $color-theme;
				color: white;
				box-shadow: none;
			}
		}
	}

	&__title {
		@include screen-x(400px) {
			font-size: 1.3em;
		}
	}
}