.popular-circuits {
	&__box {
		flex-wrap: wrap;
	}

	&__col {
		width: calc(50% - 10px);
		@include screen-x(700px) {
			width: 100%;
		}
		.big {
			height: 270px;
			min-height: 270px;
		}
		.little {
			height: 230px;
			min-height: 230px;
		}
		@include screen-x(700px) {
			.big,
			.little {
				height: 270px;
				margin-bottom: 20px;
			}
		}
	}

	&__card {
		position: relative;
		top: 0;
		left: 0;
		&:hover {
			width: 120%;
			height: 120%;
			position: relative;
			top: -10%;
			left: -10%;
		}
	}

	&__overlay {
		.title,
		.price-box,
		.price {
			text-align: center;
			text-shadow: 1px 1px 3px black;
		}
		.price {
			background: rgba(0, 0, 0, 0.4);
		}
		.details {
			border: none;
			opacity: 0;
			pointer-events: none;
			box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.6);
			&:hover {
				background: darken(green, 10%);
			}
			&:active {
				background: lighten(green, 10%);
			}
		}
		&:hover {
			background: rgba(0, 0, 0, 0.5);
			.details {
				opacity: 1;
				pointer-events: auto;
			}
		}
	}

	&__item {
		&--last {
			.details {
				opacity: 1;
				pointer-events: auto;
				font-size: 1.5em;
				font-weight: bold;
				border: 3px $color-theme solid;
				background: rgba(0, 0, 0, 0.3);
				text-shadow: 1px 1px 3px black;
				&:hover {
					background: rgba(0, 0, 0, 0.6);
					color: white;
					border: 3px white solid;
				}
				&:active {
					background: rgba(0, 0, 0, 0.9);
				}
			}
		}
	}
}