.section {
	padding-top: 40px;

	&__title {
		color: $color-theme;
		padding-bottom: 20px;
		.icon {
			margin-right: 5px;
			animation: rotate-icon 4s ease-in-out infinite;
			@keyframes rotate-icon {
				0% {
					transform: rotate(0deg);
				}
				50% {
					transform: rotate(360deg);
				}
				100% {
					transform: rotate(0deg);
				}
			}
		}
	}

	&__title2 {
		font-size: 3em;
		padding-bottom: 20px;
		@include screen-x(900px) {
			font-size: 2.5em;
		}
		@include screen-x(700px) {
			font-size: 2.3em;
		}
	}

	&__separator {
		background: $color-theme;
		width: 30%;
		height: 5px;
		border-radius: 3px;
		@include screen-x(700px) {
			width: 50%;
		}
	}
}