.snack-card {
	// width: 330px;
	height: 250px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);

	@include screen-x(750px) {
		height: 200px;
	}

	@include screen-x(600px) {
		height: 180px;
	}

	@include screen-x(530px) {
		height: 220px;
	}

	@include screen-x(450px) {
		height: 350px;
	}

	&__info {
		background: rgba(0, 0, 0, 0.8);
		position: relative;
		bottom: -100%;
		opacity: 0;
	}

	&__title,
	&__price {
		text-shadow: 1px 1px 3px black;
	}

	&__title {
		@include screen-x(1700px) {
			text-align: center;
		}
	}

	&__view {
		flex-grow: 1;
		.view {
			border: none;
			background: rgba(0, 0, 0, 0.6);
			border: 3px white solid;
			opacity: 0;
			pointer-events: none;
			&:hover {
				background: rgba(0, 0, 0, 0.8);
			}
			&:active {
				color: $color-theme;
				border: 3px $color-theme solid;
			}
		}
	}

	&__about {
		@include screen-x(1700px) {
			flex-direction: column;
			padding-top: 0;
		}
	}

	&:hover {
		box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
		.view {
			opacity: 1;
			pointer-events: auto;
		}
		.snack-card__info {
			bottom: 0;
			opacity: 1;
		}
	}

	.cart {
		flex: 1;
	}

	.add-cart {
		border: none;
		box-shadow: 1px 1px 3px black;
		&:hover {
			background: darken(green, 10%);
		}
		&:active {
			background: lighten(green, 10%);
		}
	}
}
