.snack-list {
	&__array {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-auto-rows: auto;
		grid-gap: 20px;
		@include screen-x(1200px) {
			grid-template-columns: repeat(3, 1fr);
		}
		@include screen-x(530px) {
			grid-template-columns: repeat(2, 1fr);
		}
		@include screen-x(450px) {
			grid-template-columns: repeat(1, 1fr);
			grid-gap: 20px;
		}
	}
}
